<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
      <h1>山本先生の筋トレコーナー</h1>
        <div class ='search'>
          <form name ='passdate' action = '.' method ="post">
          <input type="text" name='keyword'>
          
          <button onclick=test_click()>ボタン</button>

        　</form>
        </div>
        <div class='youtube'>
            <div id='movie1'>
            </div>
        </div>
        <div class='youtube'>
            <div id='movie2'>
            </div>
        </div>
        <div class='youtube'>
            <div id='movie3'>
            </div>
        </div>
  <script src="static/js/script.js"></script>
</body>
</html>