<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pass</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class ='search'>
        <form name ='passdate' action = '.' method ="post">
        <input type='text' name='keyword' placeholder={{key}}>
        <input type='submit' name='sibmit' value='結果'>
    </div>
    <div class='youtube'>
        <iframe width="200" height="100" src="https://www.youtube.com/embed/cKf4cqx3MXQ">
        <iframe width="500" height="200" src="https://youtu.be/xdUjlpHRX0U">
    </div>
</iframe>
</body>
</html>